@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../styles/components/header.scss';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

$CDN_URL: 'https://cdn.zippo-days.me';

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  font-display: swap;
  src: local('Noto Sans KR Light'), local('NotoSansKR-Light'),
  url('#{$CDN_URL}/fonts/NotoSansKR-Light.subset.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
  url('#{$CDN_URL}/fonts/NotoSansKR-Regular.subset.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  font-display: swap;
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
  url('#{$CDN_URL}/fonts/NotoSansKR-Bold.subset.woff') format('woff');
}


@font-face {
  font-family: 'Noto Serif KR';
  font-weight: 300;
  font-display: swap;
  src: local('Noto Serif KR Light'), local('NotoSerifKR-Light'),
  url('#{$CDN_URL}/fonts/NotoSerifKR-Light.subset.woff') format('woff');
}

@font-face {
  font-family: 'Noto Serif KR';
  font-weight: 400;
  font-display: swap;
  src: local('Noto Serif KR Regular'), local('NotoSerifKR-Regular'),
  url('#{$CDN_URL}/fonts/NotoSerifKR-Regular.subset.woff') format('woff');
}

@font-face {
  font-family: 'Noto Serif KR';
  font-weight: 700;
  font-display: swap;
  src: local('Noto Serif KR Bold'), local('NotoSerifKR-Bold'),
  url('#{$CDN_URL}/fonts/NotoSerifKR-Bold.subset.woff') format('woff');
}


.zippo-container {
  margin: 0 auto;
  @screen xl {
    width: 1072px;
    padding: 0 16px;
  }

  @screen lg {
    width: 828px;
    padding: 0 8px;
  }

  @screen sm {
    width: 100%;
    padding: 0 20px;
  }
}
